@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  background-color: #02050a;
  font-family: Inter;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 90px;
}

.navbar a {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.1em;
  color: #fff;
  text-decoration: none;
}
.navbar img {
  width: 100%;
  height: 44px;
  transition: linear 0.4s;
  -webkit-transition: linear 0.4s;
  -moz-transition: linear 0.4s;
  -ms-transition: linear 0.4s;
  -o-transition: linear 0.4s;
}

.navbar img:hover {
  box-shadow: 0 0 1px #ffffff, 0 0 1px #ffffff, 0 0 5px #55e6a5,
    0 0 10px #55e6a5, 0 0 10px #55e6a5, 0 0 25px #55e6a5;
}

.navbar .services {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}
.services a {
  transition: linear 0.1s;
  -webkit-transition: linear 0.1s;
  -moz-transition: linear 0.1s;
  -ms-transition: linear 0.1s;
  -o-transition: linear 0.1s;
}
.services a:hover {
  text-shadow: 0 0 1px #ffffff, 0 0 1px #ffffff, 0 0 5px #55e6a5,
    0 0 10px #55e6a5, 0 0 10px #55e6a5, 0 0 10px #55e6a5;
}

.services:hover a:not(:hover) {
  filter: blur(2px);
  -webkit-filter: blur(2px);
}

.hero-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #55e6a5;
  border: none;
  text-decoration: none;
  font-size: 16px;
  text-align: center;
  height: 44px;
  width: 125px;
  font-weight: 600;
  transition: ease-in-out 0.2s;
}

.hero-btn button svg {
  width: 12px;
  margin-left: 10px;
  height: 13px;
  transition: linear 0.1s;
  -webkit-transition: linear 0.1s;
  -moz-transition: linear 0.1s;
  -ms-transition: linear 0.1s;
  -o-transition: linear 0.1s;
}

.hero-btn button:hover {
  background-color: #fff;
  

}

.hero-btn:hover svg:not(:hover) {
  transform: scale(1.3) rotate(35deg);
  -webkit-transform: scale(1.3) rotate(35deg);
  -moz-transform: scale(1.3) rotate(35deg);
  -ms-transform: scale(1.3) rotate(35deg);
  -o-transform: scale(1.3) rotate(35deg);
}

/*Note : Main Css Starts Here */
.main {
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(16, 146, 85, 0.2)),
    url(../Assets/bg-banner.jpg);
  background-position: 70% 0%;
  background-size: cover;
  height: 600px;
}

.data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  gap: 0;
}

.data .data-title {
  font-size: 140px;
  font-weight: bolder;
  margin: 0;
  padding-bottom: 0px;
  -webkit-text-stroke-width: 1px;
  stroke-width: 1px;
  color: transparent;
  -webkit-text-stroke-color: #ffffff;
  stroke: #ffffff;
  cursor: pointer;
  transition: linear 0.4s;
  -webkit-transition: linear 0.4s;
  -moz-transition: linear 0.4s;
  -ms-transition: linear 0.4s;
  -o-transition: linear 0.4s;
}
.data-title:hover {
  text-shadow: 0 0 2px #ffffff, 0 0 10px #ffffff, 0 0 50px #55e6a5,
    0 0 50px #55e6a5, 0 0 50px #55e6a5, 0 0 50px #55e6a5;
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.data .data-subtitle {
  margin: 0;
  font-size: 130px;
  font-weight: bold;
}

.data-desc {
  width: 50%;
  font-size: 25px;
  text-align: center;
  font-weight: 400;
}

/* Sid :  */

/*Note : Main Css Ends Here */

/*Note : Services Css Starts Here */
.my-services {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #fff;
}

.my-services-data {
  margin-top: 130px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  gap: 15px;
}

.my-services-data-title {
  font-size: 18px;
  color: #55e6a5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.my-services-data-heading {
  font-size: 48px;
  font-weight: 700;
}

.my-services-data-desc {
  text-align: center;
  line-height: 29px;
  font-size: 19px;
}

/*Note : Services Css Ends Here */

/*Note : Services-Card Css Starts Here */

.services-card-wrapper {
  display: flex;
  justify-content: center;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  color: #fff;
  background-image: url("../Assets/Ellipse-28.png");
  background-size: 100px;
  background-color: #0a1019;
  background-repeat: no-repeat;
  background-position: 150px 50px;
  padding-top: 20px;
  transition: linear 0.3s;
  -webkit-transition: linear 0.3s;
  -moz-transition: linear 0.3s;
  -ms-transition: linear 0.3s;
  -o-transition: linear 0.3s;
  /*ANimationOnscroll*/
  opacity: 0;
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
  /*ANimationOnscroll*/
}

.services-card {
  margin-top: 60px;
  display: flex;
  justify-content: space-evenly;
  width: 75%;
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.card-img img {
  background-size: cover;
  width: 95%;
}

.card-logo {
  display: flex;
  justify-content: space-between;

  width: 90%;
}

.card-logo img {
  padding-left: 20px;
}

.card-arrow {
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: #55e6a5;
  background-color: #02050a;
  width: 50px;
  height: 50px;
}
.card p {
  font-size: 20px;
  font-weight: bold;
}

.card:hover {
  background-position: 100px 10px;
  box-shadow: 0 0 2px #ffffff, 0 0 10px #ffffff, 0 0 20px #55e6a5,
    0 0 20px #55e6a5, 0 0 20px #55e6a5, 0 0 20px #55e6a5;
}

/*Note : Services Css Ends Here */

/*Note : Footer Css Starts Here */

/*Note : Footer Css Ends Here */

/* ! Animation onscroll */
.show {
  opacity: 1;
  transition: linear 0.6s;
  -webkit-transition: linear 0.6s;
  -moz-transition: linear 0.6s;
  -ms-transition: linear 0.6s;
  -o-transition: linear 0.6s;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
/* ! Animation onscroll */
